<!DOCTYPE html>
<html lang="en">

<head>
    <!-- existing code... -->
	<link rel="icon" type="image/x-icon"
        href="https://animixplay.to/icon.png">
    <title>Animixplay VideoPlayer</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        body {
            background-color: #000;
        }

        .container {
            width: 100%;
            height: 100%;
        }

        video {
            width: 100%;
            height: 100%;
        }
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/plyr@3/dist/plyr.css">
    <script src="https://cdn.jsdelivr.net/npm/plyr@3/dist/plyr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js"></script>
    <script src="https://unpkg.com/plyr@3"></script>
</head>
<body>
<div class="container">
  <video controls crossorigin playsinline autoplay>
    <source type="application/x-mpegURL" src="https://corsbypass.herokuapp.com/{{ m3u8 }}">
  </video>
</div>
<script> 
const source = 'https://corsbypass.herokuapp.com/{{ m3u8 }}';
document.addEventListener("DOMContentLoaded", () => {
  const video = document.querySelector("video");
  const defaultOptions = {
       title: '{{ title }}',
       controls: [
		'play-large',
		'rewind', 
		'play', 
		'fast-forward', 
		'progress', 
		'current-time', 
		'duration',  
		'pip', 
		'airplay',
	        'settings',
		'fullscreen'
		  ]
            };
  // Check if there is saved current time for this episode
  const savedTime = localStorage.getItem('{{ title }}');
  if (savedTime !== null) {
    video.currentTime = parseFloat(savedTime);
  }

  // Save current time when the video is paused or ended
  video.addEventListener('pause', () => {
    localStorage.setItem('{{ title }}', video.currentTime.toString());
  });

 
video.addEventListener('seeked', () => {
    localStorage.setItem('{{ title }}', video.currentTime.toString());
  });
	
video.addEventListener('ended', () => {
 document.exitFullscreen();
 });
	
if (Hls.isSupported()) {
  const hls = new Hls({
    autoStartLoad: true,
    capLevelToPlayerSize: true,
    startLevel: 'auto'
  });
  hls.loadSource(source);
  hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
    const availableQualities = hls.levels.map((l) => l.height);
    defaultOptions.quality = {
      default: availableQualities[0],
      options: availableQualities,
      forced: true,
      onChange: (e) => updateQuality(e)
    };
    const player = new Plyr(video, defaultOptions);
    // Fullscreen enter and exit event listeners
    player.on('enterfullscreen', () => {
      // Rotate to landscape if on mobile device
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        if (screen.orientation) {
          screen.orientation.lock('landscape');
        } else if (screen.lockOrientation) {
          screen.lockOrientation('landscape');
        } else if (screen.mozLockOrientation) {
          screen.mozLockOrientation('landscape');
        } else if (screen.msLockOrientation) {
          screen.msLockOrientation('landscape');
        }
      }
    });
	  

    player.on('exitfullscreen', () => {
      // Rotate to portrait if on mobile device
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        if (screen.orientation) {
          screen.orientation.lock('portrait');
        } else if (screen.lockOrientation) {
          screen.lockOrientation('portrait');
        } else if (screen.mozLockOrientation) {
          screen.mozLockOrientation('portrait');
        } else if (screen.msLockOrientation) {
          screen.msLockOrientation('portrait');
        }
      }
    });
    // adjust buffer length dynamically
    setInterval(() => {
      const buf = hls.buffered;
      if (buf.length > 0 && video.paused && video.readyState > 1) {
        const end = buf.end(0);
        const targetBuffer = video.currentTime + 20; // target buffer time in seconds
        if (end < targetBuffer) {
          const bwEstimate = hls.currentLevel > -1 ? hls.levels[hls.currentLevel].bitrate / 8 : NaN; // current bandwidth estimate in bytes/sec
          const bufState = end - video.currentTime; // current buffer state in seconds
          const newBufLength = Math.max(Math.min((bwEstimate * 2 + bufState) / bwEstimate, targetBuffer - video.currentTime), bufState); // calculate new buffer length in seconds
          hls.config.maxBufferLength = newBufLength;
        }
      }
    }, 1000);
  });
  hls.attachMedia(video);
  window.hls = hls;
} else {
  const player = new Plyr(video, defaultOptions);
}

function updateQuality(newQuality) {
  window.hls.levels.forEach((level, levelIndex) => {
    if (level.height === newQuality) {
      window.hls.currentLevel = levelIndex;
    }
  });
}
});
</script>
</body>
</html>
